---
import Hero from '../components/Hero.astro'
import Layout from '../layouts/Layout.astro'
import Opening from '../components/Opening.astro'
import Footer from '../components/Footer.astro'
---

<Layout description="24 ноября в Графите — невероятная вечеринка с Obladaet, Витя АК, Dose и Reptiloid! Билеты 1200 рублей. Присоединяйтесь и отпразднуйте с нами!">
  <main>
    <Hero />
    <Opening />
    <Footer />
  </main>
</Layout>

<script src="../utils/utmParams.ts"></script>
