---
import HeroPosters from './HeroPosters'
import Button from './UI/Button.astro'

const screenHeight = 'h-[100svh] h-[100vh]'
---

<section data-section="HERO" class="overflow-visible text-white" class:list={screenHeight}>
  <header class="flex sm:flex-col-reverse sm:gap-4 items-center justify-between border-2 py-5 sm:py-7 border-custom-pink w-[70vw] px-10 mt-10 mx-auto">
    <img class="object-contain w-32 xl:w-28 sm:w-36" src="logo.svg" alt="" />
    <h3 class="text-xl sm:text-base sm:w-4/5 !leading-tight uppercase font-medium text-custom-pink sm:text-center text-end">официальная страница <br class="sm:hidden" /> концертной площадки</h3>
  </header>

  <HeroPosters client:load />

  <!-- <Button btn_text="Купить билет" btn_link="https://widget.afisha.yandex.ru/w/sessions/ticketsteam-5811@12609742?clientKey=058374e2-3eea-4d37-ae2f-3e21651b7c56&regionId=213" /> -->
</section>

<style is:global>
  .swiper {
    overflow: visible;
  }
  .swiper-pagination-bullet {
    @apply !bg-black;
  }

  .swiper-pagination-bullet-active {
    @apply !bg-black;
  }
</style>
