---
import TextBase from './UI/TextBase.astro'

const textData = {
  1: 'Каким должен быть лайн-ап, чтобы с&nbsp;каждым треком танцпол раскачивался больше, настроение росло, а&nbsp;вместе с&nbsp;ним и&nbsp;желание остаться до&nbsp;утра?',
  2: 'Новое концертное пространство появится в&nbsp;Москве. На&nbsp;перезапуске Графита выступят хедлайнеры фестивалей и&nbsp;тусовок, супербольшие представители old school и&nbsp;new school.',
}
---

<section data-section="INTRODUCTION" class="flex items-center justify-center mt-10">
  <div class="relative flex flex-col w-full gap-5">
    <div class="relative w-full">
      <img class="saturate-[20%] h-[50vh] sm:h-[70vh] object-cover w-full" src="intro/intro_1.jpg" alt="" />
      <TextBase text={textData[1]} classes="absolute top-14 left-14 sm:top-2 sm:left-2 h-fit w-3/6 sm:w-[95%] sm:text-sm text-justify bg-black p-5 border-2 border-custom-pink" />
    </div>
    <div class="relative">
      <img class="saturate-[20%] h-[50vh] sm:h-[70vh] object-cover w-full" src="intro/intro_2.jpg" alt="" />
      <TextBase text={textData[2]} classes="absolute bottom-14 right-14 sm:top-2 sm:right-2 h-fit w-3/6 sm:w-[95%] sm:text-sm text-justify bg-black p-5 border-2 border-custom-pink" />
    </div>
  </div>
</section>
